<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id='app'>
    <h1>{{message}}</h1>
    <!-- <h1 v-for="item in arr">{{item}}</h1> -->
    <ul>
      <li v-for="item in arr">{{item}}</li>
    </ul>
    
    <!-- 想要将当前元素的按照序号展示 -->

    <!-- 2.在定义的过程中获取数组的角标 -->
    <ul>
      <li v-for="(item,index) in arr">
        {{index + 1}}:{{item}}
      </li>
    </ul>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '你好啊！',
        arr: ['kobe','james','jodan','hello']
      }
    })
  </script>


</body>

</html>