<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id='app'>
    <!-- 双向绑定：将标签和vue中的函数进行双向的绑定 -->
    <label for="test">
      <input type="text" v-model="message">
    </label>
    <h2>{{message}}</h2>

    <!-- 将v-model用于textarea元素  -->
    <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea>
    

  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '你好啊！'
      }
    })
  </script>
</body>

</html>