<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id='app'>
    <!-- 
      1.v-model可以实现两个标签的互斥，当v-model绑定同一个变量时，相互的标签是互斥的
        否则需要通过value来进行互斥的
     -->
    <label for="male">
      <input type="radio" id="male" value="女" v-model="message">男
    </label>
    <label for="female">
      <input type="radio" id="female" value="女" v-model="message">女
    </label>
    <h2>你选择的是: {{message}}</h2>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: ''
      }
    })
  </script>
</body>

</html>