<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id='app'>
    <!-- 所谓值绑定：就是动态的获取到当前的多选框之类的 -->
    <label v-for="item in sports" v-model="sports"><input type="checkbox" value="item">{{item}}</label>

    <h2>你选择的运动为: {{sports}}</h2>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '你好啊！',
        sports: ['足球','篮球','羽毛球','铅球','棒球']
      }
    })
  </script>


</body>

</html>